.homepage-left-right {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: row;
}

.timesheets-stats {
  height: 100%;
  width: 63.5%;
  display: flex;
  flex-direction: column;
}

.charts {
  padding-left: 9%;
  padding-right: 9%;
}

.charts h4 {
  margin-bottom: 30px;
}

.timesheets {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.badges-courses {
  height: 100%;
  width: 36.5%;
}

.badges {
  display: flex;
  flex-direction: row;
  margin: 25px 0;
}

.badges img {
  width: 70px;
  height: 70px;
  position: relative;
  top: -30px;
  margin: 0 20px;
}

#calendar {
  width: 350px;
}

.fc-button, .fc-button-primary {
  background: none;
}

.meeting {
  background: #E5DBDB;
  width: 100%;
  height: 60px;
  text-align: center;
  padding: 5px;
  margin: 17px 0;
  border-radius: 0px 20px 0 20px;
}

#home-statistics-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#home-statistics-buttons .pressed {
  background: #D11800;
  color: white;
}

.home-mixed-chart {
  display: flex;
  justify-content: center;
}

.circle-chart h5 {
  text-align: center;
}

.badge-list {
  height: 400px;
}

.course-list {
  height: 300px;
}

.course-list h4 {
  margin-bottom: 30px;
}

.home-mixed-chart canvas {
  width: 800px !important;
  height: 600px !important;
}