.error-logo {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background: linear-gradient(rgba(242, 172, 68, 0.3) 0%, rgba(255, 255, 255, 0) 30px);
}

.error-logo .logo {
  width: 40%;
  background: rgba(229, 219, 219, 0.2);
}

.error-logo .logo img {
  width: 200px;
  height: 236.73px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#error {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

#error .error-title {
  font-size: 60px;
  color: #F2AC44;
}

#error .error-message {
  font-size: 24px;
}