.login-logo {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background: linear-gradient(rgba(242, 172, 68, 0.3) 0%, rgba(255, 255, 255, 0) 30px);
}

.logo {
  width: 40%;
  background: rgba(229, 219, 219, 0.2);
}

.logo img {
  width: 200px;
  height: 236.73px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.login h1 {
  color: #F4AC44;
  font-size: 34px;
  margin-bottom: 20px;
  margin-top: 200px;
}

.login p {
  color: #636364;
  font-size: 14px;
}

#login-form .login-form {
  display: flex;
  flex-direction: column;
  width: 442.54px;
  height: 633px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

#login-form .login-form label {
  text-align: left;
  color: rgba(82, 76, 76, 0.72);
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#login-form .login-form input {
  width: 426px;
  height: 68px;
  border: 1px solid rgba(82, 76, 76, 0.38);
  border-radius: 8px;
  padding: 0 53px;
}

#login-form .login-form input::placeholder {
  color: rgba(82, 76, 76, 0.38);
  font-size: 16px;
}

.remember-forgot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.remember-forgot .remember-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.remember-forgot .remember-me input {
  width: 20px !important;
  height: 20px !important;
  margin-right: 10px;
}

.remember-forgot .remember-me label {
  font-size: 12px !important;
  color: #181818;
  padding-bottom: 10px;
}

.remember-forgot .forgot-password {
  margin-right: 30px;
  text-decoration: underline !important;
}

#login-form .login-form button {
  width: 370px;
  height: 53px;
  background: #F4AC44;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 0 auto;
}

#login-form .login-form p {
  margin-top: 30px;
}

#login-form .login-form .landing-link {
  color: #F4AC44;
  text-decoration: underline !important;
  font-weight: bold;
}


