.survey {
  width: 85%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
}

#question-details {
  margin: 100px auto 0 auto;
  height: 650px; 
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

#question-details::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

#question-details .question {
  margin-bottom: 0px;
}

#question-details .question,
#question-details .question .question-titles {
  display: flex;
  flex-direction: column;
}

#question-details .question .separator {
  width: 100%;
  height: 1px;
  background: #C4C4C4;
  margin: 20px 0;
}

#question-details .question .question-choices {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#question-details .question .question-choices .icon-border {
  border: 1px solid #F2AC44;
  border-radius: 50%;
  width: 53px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 0;
}

#question-details .question .question-choices .icon-border i {
  font-size: 25px;
}

#question-details .question .question-choices input[type='checkbox'] {
  display: none;
}

#question-details .question .question-choices label {
  cursor: pointer;
  padding: 25px;
  height: 72px;
}

#question-details .question .question-choices label[checked='checked'] {
  background-color: rgba(242, 172, 68, 0.15);
  border-radius: 8px;
}

.survey button {
  width: 200px;
  height: 70px;
  background: #F2AC44;
  color: white;
  border: none;
  border-radius: 8px;
  margin: auto;
}

#question-result {
  width: 634px;
  height: 391px;
  background: white;
  border-radius: 8px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%);
  z-index: 2;
}

#question-result h2 {
  font-size: 46px;
  margin: 50px;
}

#question-result .good-result {
  font-size: 50px;
  color: #0FA958;
  margin-bottom: 50px;
}