#navbar {
    position: fixed;
    display: flex;
    width: 10%;
    height: 942px;
}

.blur-border {
    background: linear-gradient(to right, rgba(39, 39, 39, 0.25), rgba(39, 39, 39, 0.1) 90%);
    width: 5%;
    height: 100%;
}

.clear-navbar {
    width: 100%;
    background: #FFFFFF;
}

#logo {
    width: 100%;
    text-align: center;
}

.lyve-logo {
    height: 79px;
    width: 67px;
}

#navbar-links {
    width: 100%;
    height: 100%;
}

#navbar-links ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navbar-links ul li {
    display: flex;
    flex-direction: column;
    margin-top: 50%;
}
