#timesheet {
  width: 84%;
  height: 100%;
}

#calendar-full {
  width: 100%;
  height: 80%;
}

.fc-theme-standard .fc-scrollgrid, .fc-theme-standard td, .fc-theme-standard th {
  border: none;
}
.fc table {
  border-collapse: separate !important;
  overflow: none !important;
}

.fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
  display: none;
}

// tr[role=row] td[role=gridcell] 

th[role=columnheader] {
  position: relative;
  height: 23px !important;
  background: none;
  border: none !important; 
  margin-bottom: 20px !important;
}

.fc .fc-timegrid-slot-minor {
  border-style: solid;
}

.fc .fc-timegrid-slot {
  border-left: 0;
  border-right: 0;
}

.fc-timegrid-divider.fc-cell-shaded {
  display: none;
}

.fc-day-mon, .fc-day-tue, .fc-day-wed,  .fc-day-thu, .fc-day-fri, .fc-day-sat {
  // border-collapse: collapse !important;
  border-right: 1px solid black !important;
}

.fc-day-today[role="columnheader"] {
  height: 23px !important;
  border-radius: 8px;
  background-color: #ADB5BD;
}

.fc-day-mon[role=gridcell], .fc-day-wed[role=gridcell], .fc-day-fri[role=gridcell], .fc-day-sun[role=gridcell] {
  background-color: #ADB5BD !important;
  margin-top: 20px !important;

}

.fc-day-tue[role=gridcell], .fc-day-thu[role=gridcell], .fc-day-sat[role=gridcell] {
  background-color: #DEE2E6 !important;
}

.fc-scrollgrid-sync-inner {
  background: none !important;
}

.fc .fc-button-primary, .fc .fc-button-primary:disabled {
  background: none;
  color: black;
  border: none;
  outline: none;
}

.fc .fc-button-primary:focus, .fc .fc-button-primary:disabled:focus {
  border: none;
  outline: none !important;
  box-shadow: none !important;
}

.fc .fc-button-primary:disabled {
  font-weight: bold;
}

.fc-toolbar-title {
  color: black;
}

.fc-col-header-cell-cushion {
  color: black;
  font-size: 18px;
}

.fc-myCustomButton-button[title^='rdv'] {
  background: none;
  border: 1px solid black;
  border-radius: 8px;
  width: 160px !important;
  height: 42px;
  font-size: 16px;
  margin-right: 1px;
}

.fc-myCustomButton-button[title^='rdv']:hover {
  border: none;
  background: green;
  color: white;
}

#rdv-background {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  backdrop-filter: blur(5px);

  top: 0;
  left: 0;
  width: 1920px;
  height: 100vh;
  z-index: 1;
}

#rdv-form {
  width: 871px;
  height: 650px;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -45%);
  background: white;
  border-radius: 5px;
  padding: 50px;
}

.rdv-form-inputs {
  display: flex;
  flex-direction: column;
}

.rdv-form-start,
.rdv-form-end,
.rdv-form-notes {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
}

.inputs {
  display: flex;
  flex-direction: row;
}

#form-start-date,
#form-start-time,
#form-end-date,
#form-end-time {
  width: 374px;
  height: 36px;
}

#form-start-date,
#form-end-date {
  border-radius: 8px 0 0 8px;
}

#form-start-time,
#form-end-time {
  border-radius: 0 8px 8px 0;
}

#form-note-text {
  resize: none;
  width: 748px;
  height: 170px;
  border-radius: 8px;
}

.rdv-form-buttons {
  width: 400px;
  position: relative;
  left: 50.5%;
  display: flex;
  justify-content: space-evenly;
}

#rdv-form-button-cancel,
#rdv-form-button-create {
  border: none;
  width: 140px;
  height: 66px;
  border-radius: 8px;
  color: white;
}

#rdv-form-button-cancel {
  background: #D11800;
}

#rdv-form-button-create {
  background: #F2AC44;
}

#confirm-message {
  width: 871px;
  height: 413px;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -45%);
  background: white;
  border-radius: 8px;
  padding: 50px
}

#confirm-message #exit-cross {
  position: relative;
  left: 51%;
  top: -6%;
  margin-bottom: 20px;
  border: none;
  background: none;
}

#confirm-message .separator {
  width: 743px;
  height: 1px;
  background: #C4C4C4;
  margin: 50px 0;
}

#confirm-message #confirm-btn {
  width: 140px;
  height: 66px;
  background: #F2AC44;
  color: white;
  border: none;
  border-radius: 8px;
}