#navbar {
  position: fixed;
  display: flex;
  width: 15%;
  // height: 942px;
  height: 100%;
}

.blur-border {
  background: linear-gradient(to right, rgba(39, 39, 39, 0.35), rgba(39, 39, 39, 0.0005) 100%);
  width: 3%;
  height: 100%;
}

.clear-navbar {
  width: 100%;
  background: #FFFFFF;
}

#logo {
  width: 100%;
  text-align: center;
}

.lyve-logo {
  height: 100px;
  width: 100px;
}

#navbar-links {
  width: 100%;
  height: 100%;
}

#navbar-links ul {
  width: 100%;
  margin-top: 30%;
  display: flex;
  flex-direction: column;
}

#navbar-links ul li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: 20px;
  margin-top: 30%;
  color: black;
  font-size: 20px;
}

#navbar-links ul li:hover, #navbar-links a:hover, #navbar-links .selected {
  color: #F2AC44;
}

#navbar-links a {
  margin-top: -5px;
}

#navbar-links a i {
  margin-right: 30px;
}
