#menu {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: end;

}

.menu-icons {
  display: flex;
  flex-direction: row;
  margin-right: 14%;
}

.search-bar {
  display: flex;
  flex-direction: row;
  width: 280px;
  height: 56px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 20px 5px 20px 5px;
}

.search-bar, .notifications, .profile {
  margin: auto 20px;
}

.search-input {
  width: 190px;
  border: none;
  background: none;
  outline: none;
}

.search-input::placeholder, .search-input {
  color: black;
  opacity: 1;
  padding: 20px;
}

.search-icon {
  width: 20px;
  height: 20px;
  position: relative;
  top: 18px;
  left: 40px;
  color: black;
}

.notif-profile {
  display: flex; 
}

.notif-blocks, .profile-button {
  display: inherit;
  position: relative;
}

.profile-button {
  align-items: center;
}

.notifications, .profile {
  border: none;
  width: 56px;
  height: 56px;
  border-radius: 20px 5px 20px 5px;
  display: flex;
}

.notifications {
  background: rgba(0, 0, 0, 0.15);
}

.notif-blocks .show, .profile-button .show {
  width: 400px;
  position:absolute;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.25);
  // background: rgba(0, 0, 0, 0.35);
  background: white;
  top: 100px;
  left: -225px;
}

.profile-button .show {
  width: 200px;
  left: -123px;
}

.fa-bell {
  color: black;
  width: 20px;
  height: 20px;
  position: relative;
  font-size: 20px;
  top: 20px;
  right: 32px;
}

.notifications-circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: relative;
  top: -10px;
  right: -40px;
}

.notif-show {
  background: #D11800;
  border: 5px solid white;
}

.notif-hide {
  background: rgba(209, 24, 0, 0);
  position: relative;
  top: -5px;
  left: 45px;
  width: 0;
}

.notification-box, .profile-box {
  position: relative;
}

.notification-box ul, .profile-box ul {
  width: 100%;
  padding: 0;
}

.notification-box ul li, .profile-box ul li {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  margin: 20px auto;
}

.profile-box ul li {
  border: none;
}

.notification-box ul li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
}

.notification-box ul li p {
  margin: 10px;
}

// .profile-box {
//   width: 200px;
//   height: 200px;
//   border: 1px solid black;
//   background: white;
//   border-radius: 8px;
// }

.profile-button .profile {
  z-index: 1;
  opacity: 0;
}

.profile-button img {
  position: relative;
  left: -76px;
  width: 56px;
  height: 56px;
  border-radius: 20px 5px 20px 5px;
}

.profile-elem a:hover, #parameters-button:hover {
  color: #F2AC44;
}

.profile-elem a[alt="Se déconnecter"] {
  color: #D11800;
}

#notifications, #profile-box {
  z-index: 1000;
}

#parameters-button {
  border: none;
  background: none;
  margin-left: -5px;
}
