#menu {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: end;

}

.menu-icons {
  display: flex;
  flex-direction: row;
  margin-right: 20%;
}

.search-bar {
  display: flex;
  flex-direction: row;
  width: 280px;
  height: 56px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 20px 5px 20px 5px;
}

.search-bar, .notifications, .profile {
  margin: auto 20px;
}

.search-input {
  width: 190px;
  border: none;
  background: none;
  outline: none;
}

.search-input::placeholder, .search-input {
  color: black;
  opacity: 1;
  padding: 20px;
}

.search-icon {
  width: 20px;
  height: 20px;
  position: relative;
  top: 18px;
  left: 40px;
  color: black;
}

.notifications, .profile {
  border: none;
  width: 56px;
  height: 56px;
  border-radius: 20px 5px 20px 5px;
  display: flex;
}

.notifications {
  background: rgba(0, 0, 0, 0.15);
}

.fa-bell {
  color: black;
  width: 20px;
  height: 20px;
  position: relative;
  font-size: 20px;
  top: 20px;
  right: 32px;
}

.notifications-circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: relative;
  top: -10px;
  right: -40px;
}

.notif-show {
  background: #D11800;
  border: 5px solid white;
}

.notif-hide {
  background: rgba(209, 24, 0, 0);
  border: 5px solid rgba(255, 255, 255, 0);
}
